* {
    background-color: azure;
}

.center {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.purple {
    color: purple;
}
.medium-big {
    font-size: 20px;
    font-weight: bold;
}
.background {
    background-color: papayawhip;
}

